---
import Button from './Button.astro';
---

<section class="quotes-section" aria-label="Quotes section">
  <div class="quotes-section-text">
    <div class="quotes-main-quote">
      <p class="quotes-author type-body">Eugenia Vyshnytska ⁕ Senior UX Writer</p>
      <p class="quotes-main-quote-text type-t2">
        Vladyslav brings clarity to complex problems, is proactive, empathetic, and a natural collaborator
      </p>
      <img
        class="quotes-mark quotes-mark--main-open"
        src="/media/home/quotes/quote-open-large.svg"
        alt=""
        loading="lazy"
        decoding="async"
        aria-hidden="true"
      />
      <img
        class="quotes-mark quotes-mark--main-close"
        src="/media/home/quotes/quote-close-large.svg"
        alt=""
        loading="lazy"
        decoding="async"
        aria-hidden="true"
      />
    </div>

    <div class="quotes-bottom">
      <div class="quotes-card quotes-card--left">
        <p class="quotes-author type-body">Egor Privalov ⁕ Senior iOS Developer</p>
        <div class="quotes-copy type-body">
          <p>
            Vlad is an exceptionally talented designer with a strong eye for detail and a unique sense of aesthetics,
            his work is always thoughtful and visually stunning.
          </p>
          <p>He's communicative, kind, and brings a positive attitude to every conversation.</p>
        </div>
        <img
          class="quotes-mark quotes-mark--small-open"
          src="/media/home/quotes/quote-open-small.svg"
          alt=""
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
        <img
          class="quotes-mark quotes-mark--left-close"
          src="/media/home/quotes/quote-close-small.svg"
          alt=""
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>

      <div class="quotes-card quotes-card--right">
        <p class="quotes-author type-body">Ivan Shevchenko ⁕ Senior Product Designer</p>
        <p class="quotes-copy quotes-copy--right type-body">
          He's always throwing around fresh ideas, pushing for improvements without being asked, and he'll tackle the
          really tricky stuff that others might shy away from.
        </p>
        <img
          class="quotes-mark quotes-mark--small-open"
          src="/media/home/quotes/quote-open-small.svg"
          alt=""
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
        <img
          class="quotes-mark quotes-mark--right-close"
          src="/media/home/quotes/quote-close-small.svg"
          alt=""
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </div>
    </div>
  </div>

  <Button
    href="https://www.linkedin.com/in/vladhorovyy/"
    target="_blank"
    rel="noreferrer noopener"
    variant="bordered"
  >
    more on linkedin
  </Button>
</section>
